<div class = "container">
<h3 class = "mb-5">管理者ログイン</h3>

<%= form_with model: @admin, url: admin_session_path do |f| %>
<div class = "row mb-3">
  <div class = "col-md-2 offset-md-1">
    <%= f.label :email, "メールアドレス" %>
  </div>
  <div class = "col">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-5" %>
  </div>
</div>
<div class = "row mb-3">
  <div class = "col-md-2 offset-md-1">
    <%= f.label :password, "パスワード" %>
  </div>
  <div class = "col">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-md-5" %>
  </div>
</div>
<div class = "row">
  <div class = "offset-md-3">
    <%= f.submit "ログイン", class: "btn btn-primary pr-5 pl-5" %>
  </div>
</div>
<% end %>

<%= render "admin/shared/links" %>
</div>
