<div class = "container"></div>

<div class = "text-center">
<p>ようこそ、ながのCAKEへ！<br />
このサイトは、ケーキ販売のECサイトになります。<br />
会員でない方も商品の閲覧はできますが、<br />
購入には会員登録が必要になります。</p>
</div>

<h3>新着商品</h3>
<div class = "row">
  <% @items.each do |item| %>
  <div class = "col-md-3">
    <% if item.image.attached? %>
      <%= image_tag item.image, size: "30×30" %>
    <% else %>
      <%= image_tag 'no_image', size: "30×30" %>
    <% end %><br />
    <%= item.name %><br />
    ¥<%= item.price.to_s(:delimited) %>
  </div>
  <% end %>
</div>
<div class = "text-right">
<%= link_to "全ての商品を見る>", public_items_path, class: "btn btn-link" %>
</div>
</div>